/* Play Animation css start */
.bg-inherit-animation::before {
    position: absolute;
    content: "";
    width: inherit;
    height: inherit;
    background: inherit;
    border-radius: 50%;
    inset-inline-start: 0;
    top: 0;
    z-index: -1;
    -webkit-animation: animate 2.3s ease-out infinite;
    animation: animate 2.3s ease-out infinite;
}

.bg-light-animation {
    &::after {
        position: absolute;
        content: "";
        width: inherit;
        height: inherit;
        background: inherit;
        border-radius: inherit;
        inset-inline-start: 0;
        top: 0;
        z-index: -1;
    }
    &::before {
        position: absolute;
        content: "";
        width: inherit;
        height: inherit;
        background: hsl(var(--white)/0.7);
        border-radius: 50%;
        inset-inline-start: 0;
        top: 0;
        z-index: -1;
        -webkit-animation: animate 2.3s ease-out infinite;
        animation: animate 2.3s ease-out infinite;
    }
}

@keyframes animate {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    30% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 1;
    }

    60% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0.9;
    }

    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
}
/* Play Animation css end */