/* ========================================== Shop page css start ========================================== */
.grid-view {
    .product-item-wrapper > div {
        width: 50%;
        @media (max-width: 768px) {
            width: 100%;
        }
    }
    .product-item {
        flex-direction: row !important;
        align-items: center;
        &__content {
            text-align: start !important;
            flex-grow: 1;
        }
        &__thumb {
            max-width: 170px;
            height: 190px;
            min-height: unset;
            width: 100%;
        }
    }
}
/* ========================================== Shop page css End ========================================== */