
/* ================================= Classes Css Start =========================== */
.col-xs-6 {
    @media screen and (min-width: 425px) and (max-width: 575px) {
        width: 50%;
    }
}

.container {
    max-width: 1400px;
}

.position-lg-absolute {
    @media (min-width: 992px) {
        position: absolute;
    }
}

.overflow-x-max-lg-auto {
    @media (max-width: 991px) {
        overflow-x: auto;
    }
}

.transition-timing-linear {
    transition-timing-function: linear;
}

.opacity-05 {
    opacity: .05;
}

.opacity-1 {
    opacity: .1;
}

.g-32-px, .gy-32-px {
    --bs-gutter-y: 32px;
}
.g-32-px, .gx-32-px {
    --bs-gutter-x: 32px;
}
/* ================================= Classes Css End =========================== */



