/* Font Size Class Start */
.text {
  &-inherit {
      font-size: inherit;
  }
  &-30-px {
      font-size: clamp(1rem, 0.5569rem + 1.444vw, 1.875rem);
  }
  &-44-px {
      font-size: clamp(1.5rem, 0.5569rem + 1.444vw, 2.75rem) !important;
  }
  &-56-px {
      font-size: clamp(1.5rem, -0.9342rem + 5.0713vw, 3.5rem) !important;
  }
}

@each $property, $value in $font-sizes {
  .tw-text-#{$property} {
    font-size: $value;
  }
}  
/* Font Size Class End */


@each $property, $value in $spaces {
    .tw-text-#{$property} {
      font-size: $value;
    }
}  
/* Font Size Class End */