/* Gap Css start */
@each $property, $value in $spaces {
  .tw-gap-#{$property} {
    gap: var(--size-#{$property});
  }
}

.tw-gap {
  &-26-px {
    gap: clamp(1rem, 0.0938rem + 4.5vw, 1.625rem);
  }
  &-48-px {
    gap: clamp(1.5rem, -4.48rem + 7.98vw, 3rem);
  }
  &-56-px {
    gap: clamp(1.5rem, -4.48rem + 7.98vw, 3.5rem);
  }
  &-42-px {
    gap: clamp(1.5rem, 0.0938rem + 4.5vw, 2.625rem);
  }
  &-74-px {
    gap: clamp(1.5rem, -24.8393rem + 28.0952vw, 4.625rem);
  }
  &-100-px {
    gap: clamp(1.5rem, -24.8393rem + 28.0952vw, 6.25rem);
  }
  &-126-px {
    gap: clamp(1.5rem, -24.8393rem + 28.0952vw, 7.875rem);
  }
  &-148-px {
    gap: clamp(2rem, -24.8393rem + 28.0952vw, 9.25rem);
  }
}
/* Gap Css end */
