.grid-col-5 {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
}

/* grid css start */
.grid-cols-2 {
    grid-template-columns: 1fr 1fr;
}

.xs-grid-cols-2 {
    @media (min-width: 575px) {
        grid-template-columns: 1fr 1fr;
    }
}
/* grid css end */