/* Max width Css Class Start */
.max-w {
    &-1140-px {
        max-width: 1140px;
    }
    &-1290-px {
        max-width: 1290px;
    }
    &-1400-px {
        max-width: 1400px;
    }
    &-1440-px {
        max-width: 1440px;
    }
    &-1524-px {
        max-width: 1524px;
    }
    &-1720-px {
        max-width: 1720px;
    }
    &-1552-px {
        max-width: 1552px;
    }
    &-1570-px {
        max-width: 1570px;
    }
    &-1800-px {
        max-width: 1800px;
    }
    &-1820-px {
        max-width: 1820px;
    }
    &-118-px {
        max-width: 118px;
    }
    &-144-px {
        max-width: 144px;
    }
    &-74-px {
        max-width: 74px;
    }
    &-85-px {
        max-width: 85px;
    }
    &-150-px {
        max-width: 150px;
    }
    &-154-px {
        max-width: 154px;
    }
    &-172-px {
        max-width: 172px;
    }
   
    &-194-px {
        max-width: 194px;
    }
    &-420-px {
        max-width: 420px;
    }
    &-444-px {
        max-width: 444px;
    }
    &-548-px {
        max-width: 548px;
    }
    &-724-px {
        max-width: 724px;
    }
    &-200-px {
        max-width: 200px;
    }
    &-218-px {
        max-width: 218px;
    }
    &-228-px {
        max-width: 228px;
    }
    &-250-px {
        max-width: 250px;
    }
    &-278-px {
        max-width: 278px;
    }
    &-288-px {
        @media (min-width: 991px) {
            max-width: 288px;
        }
    }
    &-388-px {
        @media (min-width: 991px) {
            max-width: 388px;
        }
    }
    &-330-px {
        @media (min-width: 992px) {
            max-width: 330px;
        }
    }
    &-350-px {
        max-width: 350px;
    }
    &-295-px {
        max-width: 295px;
    }
    &-400-px {
        max-width: 400px;
    }
    &-432-px {
        max-width: 432px;
    }
    &-444-px {
        max-width: 444px;
    }
    &-480-px {
        max-width: 480px;
    }
    &-490-px {
        @media (min-width: 991px) {
            max-width: 490px;
        }
    }
    &-500-px {
        max-width: 500px;
    }
    &-532-px {
        max-width: 532px;
    }
    &-570-px {
        max-width: 570px;
    }
    &-514-px {
        @media (min-width: 991px) {
            max-width: 514px;
        }
    }
    &-602-px {
        max-width: 602px;
    }
    &-620-px {
        max-width: 620px;
    }
    &-672-px {
        max-width: 672px;
    }
    &-730-px {
        max-width: 730px;
    }
    &-780-px {
        max-width: 780px;
    }
    &-910-px {
        max-width: 910px;
    }
    &-830-px {
        max-width: 830px;
    }
    &-58-percent {
        @media (min-width: 992px) {
            max-width: 58%;
        }
    }
    &-40-percent {
        max-width: 40%;
    }
}
/* Max width Css Class End */