/* Max Height Css Class Start */
.tw-max-h {
  &-screen {
    height: 100vh;
  }
  &-260-px {
    max-height: 260px;
  }
  &-295-px {
    max-height: 295px;
  }
  &-397-px {
    max-height: 397px;
  }
  &-410-px {
    max-height: 410px;
  }
  &-110-px {
    max-height: 110px;
  }
  &-588-px {
    max-height: 588px;
    @media (max-width: 575px) {
      max-height: 488px;
    }
    @media (max-width: 424px) {
      max-height: 388px;
    }
    @media (max-width: 380px) {
      max-height: 300px;
    }
  }
}
/* Max Height Css Class End */
