/* Border Radius Css Start */
.tw-rounded {
   border-radius: 0.25rem; /* 4px */
   &-none {
      border-radius: 0px;
   }
   &-sm {
      border-radius: 0.125rem; /* 2px */
   }
   &-md {
      border-radius: 0.375rem; /* 6px */
   }
   &-lg {
      border-radius: 0.5rem; /* 8px */
   }
   &-xl {
      border-radius: 0.75rem !important; /* 12px */
   }
   &-2xl {
      border-radius: 1rem; /* 16px */
   }
   &-3xl {
      border-radius: 1.5rem; /* 24px */
   }
   &-28-px {
      border-radius: 28px;
   }
   &-40-px {
      border-radius: 40px;
   }
   &-50-px {
      border-radius: 50px;
   }
}

.rounded-top-45-px {
   border-top-left-radius: 45px;
   border-top-right-radius: 45px;
}

.rounded-top-30-px {
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
}
/* Border Radius Css End */