/* Hover Scale Css start */
.tw-scale {
    &-04 {
        transform: scale(0.4);
    }
}

.hover-scale {
    &-09 {
        &:hover {
            transform: scale(0.9);
        }
    }
    &-094 {
        &:hover {
            transform: scale(0.94);
        }
    }
    &-098 {
        &:hover {
            transform: scale(0.98);
        }
    }
    &-102 {
        &:hover {
            transform: scale(1.02);
        }
    }
    &-104 {
        &:hover {
            transform: scale(1.04);
        }
    }
    &-106 {
        &:hover {
            transform: scale(1.06);
        }
    }
    &-108 {
        &:hover {
            transform: scale(1.08);
        }
    }
    &-14 {
        &:hover {
            transform: scale(1.4);
        }
    }
}
/* Hover Scale Css End */

/* Active Scale Css End */
.active-scale {
    &-09 {
        &:active {
            transform: scale(0.9);
        }
    }
    &-094 {
        &:active {
            transform: scale(0.94);
        }
    }
    &-098 {
        &:active {
            transform: scale(0.98);
        }
    }
    &-102 {
        &:active {
            transform: scale(1.02);
        }
    }
}
/* Active Scale Css End */
