/* Offer Five section start */
.stair-bg {
    &::before, &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        inset-block-start: -35px;
        inset-inline-start: 0;
        background: linear-gradient(0deg, #FFE3DA 0%, #FFE3DA 100%);
        z-index: -1;
        border-radius: inherit;
    }
    &::after {
        background: var(--main-600);
        inset-block-start: -70px;
        z-index: -2;
    }
}
/* Offer Five section End */
