/* Banner Two Start */
.banner-three {
    padding-block-start: 284px;
    padding-block-end: 178px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    @media (max-width: 991px) {
        padding-block-start: 240px;
    }
    @media (max-width: 767px) {
        padding-block-start: 200px;
        padding-block-end: 120px;
    }
    @media (max-width: 575px) {
        padding-block-start: 200px;
        padding-block-end: 100px;
    }
}
/* Banner Two End */