.box-layer {
    position: relative;
    &::before, &::after {
        position: absolute;
        content: "";
        width: calc(100% - 40px);
        height: 100%;
        inset-inline-start: 50%;
        inset-block-end: -24px;
        transform: translateX(-50%);
        background-color: inherit;
        border-radius: inherit;
        z-index: -1;
        box-shadow: 0px 4px 42px 0px #00000024;
    }
}

.box-layer-two {
    position: relative;
    &::before {
        position: absolute;
        content: "";
        width: calc(100% - 80px);
        height: 100%;
        inset-inline-start: 50%;
        inset-block-end: -44px;
        transform: translateX(-50%);
        background-color: inherit;
        border-radius: inherit;
        z-index: -1;
        box-shadow: 0px 4px 42px 0px #00000024;
    }
}

.swiper-slide-active {
    .animate-left-right {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    } 
}

