/* Banner Six Css start */
.banner-six {
    padding: 250px 0 230px;

    @media (max-width: 991px) {
        padding: 170px 0 200px;
    }
}

.payment-cards {
    max-width: 45%;
}

/* Banner Six Css end */