@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Space+Grotesk:wght@300..700&display=swap');

.home-six {
    &:root {
        --heading-one: clamp(2.25rem, -0.0733rem + 5.5vw, 5.625rem); // Min:36px - Max: 90px
        --heading-two: clamp(2rem, 0.3353rem + 2.1661vw, 4.375rem); // Min: 32px - Max: 70px
        --heading-four: clamp(1.5rem, 0.8077rem + 1.4423vw, 2.25rem); // Min: 24px - Max: 36px

        /* template main color */
        color: #e7fd58;
        --main-h: 68;
        --main-s: 98%;
        --main-l: 67%;
        --main: var(--main-h) var(--main-s) var(--main-l);

        /* template main two color */
        --main-two-h: 205;
        --main-two-s: 75%;
        --main-two-l: 11%;
        --main-two: var(--main-two-h) var(--main-two-s) var(--main-two-l);

        --heading-color: #0F2F0B;
        --heading-font: "Space Grotesk", sans-serif;
    }

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
        color: var(--heading-color);
        font-family: var(--heading-font);
    }

    h1,
    .h1 {
        font-size: var(--heading-one);
    }

    h2,
    .h2 {
        font-size: var(--heading-two);
    }

    h3,
    .h3 {
        font-size: var(--heading-three);
    }

    h4,
    .h4 {
        font-size: var(--heading-four);
    }

    h5,
    .h5 {
        font-size: var(--heading-five);
    }

    h6,
    .h6 {
        font-size: var(--heading-six);
    }

    .font-caveat {
        font-family: "Caveat", cursive;
    }

    .font-heading {
        font-family: var(--heading-font);
    }

    .text-heading {
        color: var(--heading-color);
    }

    .btn-main {
        background: var(--main-600);

        &-two {
            background-color: var(--main-two-600) !important;
            color: hsl(var(--white)) !important;

            &:hover,
            &:hover span {
                color: hsl(var(--white)) !important;
            }
        }
    }

    .hover-style-one .button__flair::before {
        background-color: #164333 !important;
    }

    .hover-style-two {
        .button__flair::before {
            background: var(--main-600);
        }
    }

    .header {
        &.fixed-header {
            position: fixed !important;
            margin-block-start: 0;
            background-color: #0f6555;

            .header-three__inner {
                box-shadow: none !important;
                background-color: transparent;
            }
        }
    }

    .btn {
        &.text-heading {
            color: var(--heading-color) !important;
        }

        &.hover-text-white:hover {
            color: #fff !important;
        }
    }

    .settings-button {
        color: var(--heading-color) !important;
    }

    .settings-panel__button {

        &:hover,
        &.active {
            color: var(--heading-color) !important;
        }
    }

    .mega-menu-item .btn {
        color: var(--heading-color) !important;
        font-weight: 600;

        &:hover {
            color: #fff !important;
        }

        i {
            color: var(--heading-color);
        }
    }

}