/* =========================== Accordion Css start ============================= */
.common-accordion {
    .accordion-item {
        &:not(:last-child) {
            margin-block-end: 20px;
        }
    }
}

.accordion-border-left {
    .accordion-item {
        border-left: 4px solid transparent !important;
    }

    .accordion-item:has(.accordion-collapse.show),
    .accordion-item:has(.accordion-button[aria-expanded="true"]) {
        border-left: 4px solid var(--main-600) !important;
        background: #fff !important;
    }
}

.accordion-button::after {
    display: none;
}


.accordion {
    &.style-two {
        .accordion-item {
            border-bottom: 1px solid var(--neutral-100) !important;
            border-radius: 0 !important;
        }

        .accordion-item:has(.accordion-collapse.show),
        .accordion-item:has(.accordion-button[aria-expanded="true"]) {
            border-left: 0 !important;
            background: #fff !important;
            box-shadow: 0 20px 20px 0 #03041C14;
            border-radius: 0 0 20px 20px !important;
        }

        .accordion-button {
            padding-inline-end: 32px !important;

            &::before {
                position: absolute;
                content: "\E3D4";
                font-family: "Phosphor";
                width: 24px;
                height: 24px;
                border-radius: 50%;
                border: 1px solid var(--neutral-100);
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 12px;
                inset-inline-end: 0;
                inset-block-start: 50%;
                transform: translateY(-50%);
                color: var(--neutral-500);
            }

            &[aria-expanded="true"]::before {
                background-color: var(--main-600) !important;
                color: #fff !important;
                border-color: var(--neutral-900) !important;
                content: "\E32A";
            }
        }
    }

    &.style-two-three {
        .accordion-item {
            border: 1px solid var(--neutral-200) !important;
            border-radius: 14px !important;
            background-color: var(--neutral-100) !important;
            margin-bottom: 16px !important;
        }

        .accordion-item:has(.accordion-collapse.show),
        .accordion-item:has(.accordion-button[aria-expanded=true]) {
            background: var(--neutral-100) !important;
            box-shadow: none;
            border-radius: 14px !important;
            border-block-start: 5px solid var(--main-600) !important;
        }

        .accordion-button::before {
            border: 1px solid var(--neutral-600);
            font-weight: 900;
        }
    }

    &.style-three {
        .accordion-button {
            &::before {
                position: absolute;
                content: "\E136";
                font-family: "Phosphor";
                font-size: 1rem;
                font-weight: 800;
                inset-inline-end: 0;
                inset-block-start: 50%;
                transform: translateY(-50%);
                color: var(--neutral-500);
            }

            &[aria-expanded=true]::before {
                content: "\E13C";
            }
        }


    }

    &.style-four {
        .accordion-item {
            border: 0;
            border-bottom: 1px solid #EBECF02B !important;
        }

        .accordion-item:has(.accordion-collapse.show),
        .accordion-item:has(.accordion-button[aria-expanded=true]) {
            border-bottom: 0 !important;
            background: #ffffff12 !important;
            border-radius: 20px !important;
            box-shadow: 0px 20px 20px 0px #03041C14;
        }

        .accordion-button {
            &::before {
                border: 1px solid var(--neutral-400);
                color: #ffffff;
                font-weight: 900;
            }

            &[aria-expanded=true]::before {
                color: var(--heading-color) !important;
                border-color: var(--neutral-900) !important;
                content: "\e32a";
            }
        }
    }
}


.accordion.arrow-bg-orange .accordion-button[aria-expanded=true]::before {
    background-color: hsl(var(--orange)) !important;
    border-color: hsl(var(--orange)) !important;
}


.position-sm-in-box {
    @media (min-width: 576px) {
        position: absolute !important;
        top: 50%;
        transform: translateY(-50%);
        inset-inline-end: 0;
        margin-inline-end: 12px;
    }

    @media (max-width: 575px) {
        width: 100%;
        margin-top: 24px;
    }
}

/* ================================= Accordion Css End =========================== */