/* Mega menu css start */
.mega-menu {
  position: absolute;
  inset-block-start: 100%;
  background-color: #fff;
  width: 100%;
  inset-inline-start: 0;
  z-index: 99;
  box-shadow: 0px 20px 30px rgba(1, 15, 28, 0.1);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  max-height: 540px;
  overflow-y: auto;
  overflow-x: hidden;
  @media (max-width: 991px) {
    margin-block: 16px !important;
    margin-inline-start: 0 !important;
    padding-inline-end: 4px !important;
  }
}

.mega-menu-item {
  &__buttons {
    transition: all 0.5s;
  }
  &__overlay {
    background-color: #0000008c;
    transition: all 0.25s;
  }
  &__buttons {
    margin-top: -60px;
    transform: scale(0.8);
  }
  &:hover {
    .mega-menu-item {
      &__buttons {
        transition-delay: 0.1s;
        margin-top: 0px;
        transform: scale(1);
      }
    }
  }
}
/* Mega menu css end */
