/* ================================= Testimonials section css start =============================== */
.animate-left-right {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    transition: .2s linear;
    transition-delay: 200ms;
}


.testimonials-item {
    flex: 1;
    transition: .2s linear;
    height: 504px;
    .hidden-content {
        visibility: hidden;
        opacity: 0;
        height: 0;
    }
    &.active {
        flex: 2.2;
        @media (max-width: 991px) {
            min-width: 400px;
        }
        .current-content {
            visibility: hidden;
            opacity: 0;
            height: 0;
        }
        .hidden-content {
            visibility: visible;
            opacity: 1;
        }
        .animate-left-right {
            opacity: 1;
            visibility: visible;
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }
}

.animation-delay-02 {
    transition-delay: 200ms;
}

.animation-delay-03 {
    transition-delay: 300ms;
}

.animation-delay-04 {
    transition-delay: 400ms;
}

/* ================================= Testimonials section css End =============================== */