/* Top Features Css Start */
.js-marquee {
  display: flex;
  align-items: center;
  gap: clamp(1.5rem, -1.9375rem + 11vw, 4.25rem);
}

.left-right-gradient {
  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 48px;
    height: 100%;
    inset-inline-start: 0;
    inset-block-start: 0;
    background: linear-gradient(90deg, #ffffff, transparent);
    z-index: 2;
  }
  &::after {
    background: linear-gradient(90deg, transparent, #ffffff);
    inset-inline-start: auto;
    inset-inline-end: 0;
  }
}

.gradient-width-200 {
  &::before,
  &::after {
    width: 200px;
  }
}

.top-features-slider {
  display: flex;
  white-space: nowrap;
}

.top-features-slider > div {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  margin-inline-start: 2rem;
}
/* Top Features Css End */
