/* ============================ Services section css start ============================ */
.square-bg-shape {
    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        border-radius: inherit;
        background-color: hsl(var(--yellow));
        inset-inline-start: 0px;
        inset-block-start: 0px;
        z-index: -1;
        transition: .2s linear;
    }
    &:hover {
        &::before {
            inset-inline-start: 6px;
            inset-block-start: 6px;
        }
    }
}
/* ============================ Services section css end ============================ */